<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixar Characters</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button onclick="getCharacters()">Pixar Characters</button>
    <div id="listCharacters"></div>
</body>
<script type="text/javascript">
    function getCharacters() {
        $.get( "/pixar_characters", function(data) {
            let pixar_list = '';
            for (i=0; i < data.length; i++ ) {
                pixar_list += ' ' + data[i].fullName + ' from ' + data[i].movieTitle + `,`;
            }
            document.getElementById("listCharacters").append(pixar_list);
        });
    }
</script>
</html>